
style.
 #classesbox {

   opacity: 0.75;

   height: 35%;
   width:  100%;
   max-width: 800px;
   max-height: 600px;
   min-height: 300px;
   border: 1px solid #333333;
   background-color: white;

   font-size: 20px;
   border-radius: 10px;

 }
 #eachClass {
   background-color: white;
   opacity: .4;
 }
 .dots {
   float:right;
   padding-right:10px
 }
#classesbox
 div(align='left')
   div(style='position:relative; left:10px; font-size:30px')
     p
     left Your Enrolled Classes
     div(style='position:relative; top:10px; font-size:20px')
      .ui.list
         .item
           img.ui.avatar.image(src='../misc/csc.png')
           .content
             a.header CPE 357: Systems Programming
             .description
               | 100 students currently enrolled
           .dots
               .ui.icon.top.left.pointing.dropdown.button
                 i.ellipsis.horizontal.icon
                 .menu
                   .item Remove
                   .item Favorite
                   .ui.divider
                   .item
                     i.dropdown.icon
                     span.text Choose Color
                     .menu
                       .item Green
                       .item Blue
                       .item Purple
                       .item Red
         .ui.fitted.divider
         .item
           img.ui.avatar.image(src='../misc/csc.png')
           .content
             a.header CSC 348: Discrete Structures
             .description
                 | 35 students currently enrolled
           .dots
               .ui.icon.top.left.pointing.dropdown.button
                 i.ellipsis.horizontal.icon
                 .menu
                   .item Remove
                   .item Favorite
                   .ui.divider
                   .item
                     i.dropdown.icon
                     span.text Choose Color
                     .menu
                       .item Green
                       .item Blue
                       .item Purple
                       .item Red
         .ui.fitted.divider
         .item
           img.ui.avatar.image(src='../misc/headshots/MitchellOverfield.jpg')
           .content
             a.header ENGL 149: Technical Writing
             .description
                 | 35 students currently enrolled
           .dots
               .ui.icon.top.left.pointing.dropdown.button
                 i.ellipsis.horizontal.icon
                 .menu
                   .item Remove
                   .item Favorite
                   .ui.divider
                   .item
                     i.dropdown.icon
                     span.text Choose Color
                     .menu
                       .item Green
                       .item Blue
                       .item Purple
                       .item Red
         .ui.fitted.divider
         .item
           img.ui.avatar.image(src='../misc/headshots/YengTan.jpg')
           .content
             a.header STAT 312: Statistical Methods
             .description
                 | 67 students currently enrolled
           .dots
               .ui.icon.top.left.pointing.dropdown.button
                 i.ellipsis.horizontal.icon
                 .menu
                   .item Remove
                   .item Favorite
                   .ui.divider
                   .item
                     i.dropdown.icon
                     span.text Choose Color
                     .menu
                       .item Green
                       .item Blue
                       .item Purple
                       .item Red
         .ui.fitted.divider
