html(lang='en')
   head
      title Class Difficulty and Time
      link(href="/stylesheets/test/classDifficulty.css", rel='stylesheet', type='text/css')
   body
     #contain
         table.table
           thead
             .title Class Difficulty and Time
             tbody
               tr
                 th.class Class
                 th.difficulty Difficulty
                 th.time Weekly Time
               tr
                 td.class IME 314
                 td.difficulty 1/10
                 td.time .01
                    span.hours  hours
               tr
                 td.class CPE 357
                 td.difficulty 9/10
                 td.time 37
                    span.hours  hours
               tr
                 td.class ENGL 149
                 td.difficulty  3/10
                 td.time 2
                    span.hours  hours
               tr
                 td.class MATH 244
                 td.difficulty  7/10
                 td.time 6
                    span.hours  hours
