html(lang="en")
   head
      title Contact
      link(href="/stylesheets/test/contact.css", rel='stylesheet', type='text/css')
   body
      div.contact
        div.mail
          a(href='mailto: sqzeeinfo@gmail.com')
            img.icon(src='./../../misc/mail_icon.png')

   //Troubleshooting
