html
   head
      link(href="/stylesheets/test/grading.css", rel='stylesheet', type='text/css')
   body
      #container
         div.table_container
            table.table_style
               thead
                  .title Sqzee Ratings
               tbody
                  tr
                     td.professor_pic
                        img.img-circle(src='./../misc/professor1.jpg')
                     td.professor_info
                        span.professor_name Sam White
                        br
                        span.professor_depart College of Architecture
                     td.rating_column
                        span
                           table.grading_table
                              tr
                                 td
                                    img(src='./../misc/grading_1.png')
                                 td
                                    img(src='./../misc/grading_1.png')
                                 td
                                    img(src='./../misc/grading_1.png')
                                 td
                                    img(src='./../misc/grading_0.png')
                                 td
                                    img(src='./../misc/grading_0.png')

                  tr
                     td.professor_pic
                        img.img-circle(src='./../../misc/professor2.jpg')
                     td.professor_info
                        span.professor_name Jane Doe
                        br
                        span.professor_depart College of Engineering
                     td.rating_column
                        span
                           table.grading_table
                              tr
                                 td.grey_row
                                    img(src='./../misc/grading_1.png')
                                 td.grey_row
                                    img(src='./../misc/grading_1.png')
                                 td.grey_row
                                    img(src='./../misc/grading_1.png')
                                 td.grey_row
                                    img(src='./../misc/grading_1.png')
                                 td.grey_row
                                    img(src='./../misc/grading_1.png')
                  tr
                     td.professor_pic
                        img.img-circle(src='./../misc/president1.jpg')
                     td.professor_info
                        span.professor_name Jeffery Armstrong
                        br
                        span.professor_depart President of Cal Poly
                     td.rating_column
                        span
                           table.grading_table
                              tr
                                 td
                                    img(src='./../misc/grading_1.png')
                                 td
                                    img(src='./../misc/grading_0.png')
                                 td
                                    img(src='./../misc/grading_0.png')
                                 td
                                    img(src='./../misc/grading_0.png')
                                 td
                                    img(src='./../misc/grading_0.png')
