div(align='left')
   style.
    #answerbox {

      opacity: 0.75;

      height: 35%;
      width:  100%;
      max-width: 800px;
      max-height: 300px;
      min-height: 200px;
      border: 1px solid #333333;
      background-color: white;

      border-radius: 10px;

    }
   #answerbox
      div(style='position:absolute; left:10px; top:80px')
         .ui.list
            .item
              img.ui.avatar.image(src='../misc/headshots/YengTan.jpg')
              .content
                a.header Yeng
                .description
                  | Enrolled in
                  a
                    b   Aero 302 (Aerothermodynamics II)
                  |  just now.
            .item
              img.ui.avatar.image(src='../misc/headshots/CostinPirvu.jpg')
              .content
                a.header Costin
                .description
                  | Enrolled in
                  a
                    b 	 MATH 412 (Introduction to Analysis I)
                  |  10 hours ago.
            .item
              img.ui.avatar.image(src='../misc/headshots/WillMcInnis.jpg')
              .content
                a.header Will
                .description
                  | Commented on
                  a
                    b     ARCE 444 (Reinforced Concrete Design)
                  |  2 days ago.
            .item
              img.ui.avatar.image(src='../misc/headshots/MitchellOverfield.jpg')
              .content
                a.header Mitchell
                .description
                  | Liked a post on
                  a
                    b   BRAE 121 (Agricultural Mechanics)
                  |  a week ago.
            .item
              img.ui.avatar.image(src='../misc/headshots/GarettChan.jpg')
              .content
                a.header Garett
                .description
                  | Favorited a review on
                  a
                    b   DANC 122 (Dance Appreciation)
                  |  2 hours ago.
