.btn-group
   button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:inherit; border: 0px;")
      span.glyphicon.glyphicon-option-horizontal
   ul.dropdown-menu.dropdown-menu-right
     li
        a(href="/enroll/" + enClass.department + "-" + enClass.courseNum + "/unenroll") Unenroll...
     li
        a(href="#") Share...
