html(lang='en')
   head
      include ./../../partials/header.pug
      title HUB
   body

      link(href="/stylesheets/partials/hub_background.css" rel="stylesheet" type="text/css")
      link(href="/semantic/out/components/list.min.css" rel="stylesheet" type="text/css")
      include ./../../partials/navBarStatic.pug
